@import '../../assets/styles/constants.scss';

.side-bar {
  position: relative;
  z-index: 100;
  width: 400px;

  background-color: $white;
  box-shadow: 0 -3px 10px 5px $black30;

  transition: margin 0.3s ease-in-out;
  
  &--closed {
    margin-left: -400px;
  }
}

.side-bar__container {
  overflow: auto;
  overflow-x: hidden
}

.side-bar__button {
  position: absolute;
  top: 140px;
  right: -35px;
  width: 35px;
  height: 35px;

  background-color: $white;
  border-radius: 0 5px 5px 0;
  border: none;
  box-shadow: 0 -3px 10px 5px $black30;

  &:hover {
    .side-bar__button-icon {
      fill: $gray;
    }
  }
}

.side-bar__button-icon {
  width: 15px;
  height: 15px;
}

.side-bar__header {
  height: 250px;
}
